.ipynb_checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints
**/.ipynb_checkpoints/

.DS_Store
**/.DS_Store

*.pyc
**/*.pyc

# files to be removed
nntf/interps/
nntf/models/
nntf/tests/archive/
nntf/tests/evolve.log
nntf/tests/run_output/
nntf/tests/test.p